<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="theme-color" content="#ff4970">
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:card" value="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
</head>

<body>
    Hello world <img src="/assets/images/bg.jpg" />
</body>

</html>